#{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body
{
    height: 200px;
    width: auto;
    text-align: center;
    padding: 0px;
    margin: 40px;
}
h2{
    text-align: center;
    text-decoration: double;
    text-decoration: #b3d4fc;
    font-family: Bahnschrift;
    font-size: 24px;
}
#Group,#Group_2{
    animation:dance 0.5s infinite linear;
    transform-origin:center ;
    transform-box:fill-box;
}
@keyframes dance {
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(40deg);
    }
}
