<h4>Navigation Links</h4>
<a href="/country">Add Country</a></br>
<a href="/user">Add User</a></br>
<a href="/employee">Add Employee</a></br>
<a href="/category">Add Category</a></br>
<a href="/product"> Add Product</a></br>
<a href="/price">Set prices</a></br>
<a href="/supplier">Add Supplier</a></br>
<a href="/customer">Add Customer</a></br>
<a href="/epos">Invoice</a>